@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Switzer";
  font-style: normal;
  src: url("../assets/fonts/Switzer-Regular.woff2") format("woff2");
}