@use "sass:color";
@use "mixins" as mixins;
@use "variables" as vars;

.scrollable {
  overflow-y: auto;
  scrollbar-color: rgba(var(--column-alpha-color-1), calc(var(--column-alpha-base-factor) * 2)) rgba(var(--column-alpha-color-2), calc(var(--column-alpha-base-factor) * 0.5));
  scrollbar-width: thin;
  padding-right: 10px;
  margin-right: -4px;
}

.home {
  overflow: auto;
  height: 100%;
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.3);
  scrollbar-width: thin;

  .home-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;

    @include mixins.respond(sm) {
      padding: 0 0.5rem;
    }

    .header-board-view-nav {
      display: flex;
      gap: 1rem;
      background: rgba(16, 16, 16, 0.6);
      backdrop-filter: blur(10px);
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      font-size: 0.9rem;
      padding: 0.5rem 2rem;

      .board-view-nav-option {

        .board-view-nav-option--btn {
          display: flex;
          align-items: center;
          background: rgba(0, 0, 0, 0.5);
          border: 1px solid rgba(255, 255, 255, 0.25);
          border-radius: vars.$border-radius-md;
          padding: 0.2rem 0.6rem;

          .board-view-nav-option--btn--selected {
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: vars.$border-radius-sm;
            color: rgba(255, 255, 255, 0.5);
            font-size: 0.7rem;
            padding: 0 0.2rem;
            margin-left: 0.5rem;
          }
        }
      }
    }

    .header-boards-nav {
      background: rgba(16, 16, 16, 0.8);
      backdrop-filter: blur(10px);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mixins.respond(sm) {
        height: 5vh;
        font-size: 2.5vh;
      }

      .boards-list {
        display: flex;
        gap: 1rem;
      }

      .mobile-menu {
        display: none;
      }

      @include mixins.respond(sm) {
        .boards-list {
          display: none;
        }

        .mobile-menu {
          display: block;
        }
      }

      .boards-single-board {
        display: flex;
        align-items: center;
        background-color: transparent;
        color: vars.$color-light;
        padding: 0.5rem 1rem 0.5rem 1.5rem;
        overflow: hidden;
        transition: width 0.3s ease;

        &.active {
          background-color: rgba(255, 255, 255, 0.2);
          border-bottom: 1px solid white;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          cursor: pointer;
        }
      }
    }
  }

  .board-view {
    .board-view-background {
      position: fixed;
      inset: 0;
      z-index: -1;
      background: url("https://picsum.photos/1920/1082") no-repeat center center;
      //background: url("../assets/bg.jpg") no-repeat center center;
      background-size: cover;
    }

    .board-view-columns {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 350px;
      align-items: start;
      margin-left: 2rem;
      margin-top: 2rem;
    }
  }

  .column {
    //--column-color-base: #{vars.$color-gray};
    --column-alpha-base-factor: 0.1;
    --column-alpha-color-1: 255, 255, 255;
    --column-alpha-color-2: 0, 0, 0;
    --column-color-base: #18395b;
    --column-color-text: #{vars.$color-light};

    position: relative;

    background-color: transparent;
    border-radius: vars.$border-radius-md;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    color: var(--column-color-text);
    overflow: hidden;
    padding: 12px;
    width: 300px;
    max-height: 90vh;

    display: grid;
    grid-template-rows: auto 1fr auto; // nagłówek, karty, footer

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      backdrop-filter: blur(10px);
      background-color: rgba(var(--column-color-base), calc(var(--column-alpha-base-factor) * 5));
      border: 1px solid rgba(var(--column-alpha-color-1), calc(var(--column-alpha-base-factor) * 1.5));
      border-radius: inherit;
      z-index: 0;
      pointer-events: none;
    }

    > * {
      position: relative;
      z-index: 1;
    }

    .column-title {
      margin-bottom: 0;

      & > h3 {
        margin: 0;
      }
    }

    .column-cards {
      min-height: 20px;
      max-height: 100%;

      .column-card {
        user-select: none;
        background-color: rgba(var(--column-alpha-color-2), calc(var(--column-alpha-base-factor) * 1));
        border: 1px solid rgba(var(--column-alpha-color-1), calc(var(--column-alpha-base-factor) * 2));
        border-radius: vars.$border-radius-md;
        margin-top: 1rem;
        padding: 8px;
        transition: background-color 0.3s ease;

        &:hover,
        &.dragging{
          background-color: rgba(var(--column-alpha-color-2), calc(var(--column-alpha-base-factor) * 2));
          cursor: pointer;
        }

        .card-header {
          margin-bottom: 0.33rem;

          .card-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;

            .card-tag {
              --tag-color: #ffffff;
              --tag-bg: #BFBFBF;

              display: flex;
              background-color: var(--tag-bg);
              border: 1px solid var(--tag-color);
              border-radius: 4px;
              padding: 1px 4px;
              font-size: 0.8rem;
              color: var(--tag-color);
            }
          }

          .card-title {
            margin-top: 0.5rem;
            margin-bottom: 0.33rem;

            h3 {
              margin-bottom: 0.33rem;
            }
          }
        }

        .card-progress {
          padding: 0.2rem 0;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 4px;

          .progress-bar {
            background-color: rgba(var(--column-alpha-color-2), calc(var(--column-alpha-base-factor) * 1));
            border: 1px solid rgba(var(--column-alpha-color-1), calc(var(--column-alpha-base-factor) * 2));
            height: 8px;
            border-radius: 4px;
            overflow: hidden;
            width: 100%;

            .progress {
              background-color: vars.$color-success;
              border-left: 1px solid rgba(var(--column-alpha-color-1), calc(var(--column-alpha-base-factor) * 2));
              border-top: 1px solid rgba(var(--column-alpha-color-1), calc(var(--column-alpha-base-factor) * 2));
              border-bottom: 1px solid rgba(var(--column-alpha-color-1), calc(var(--column-alpha-base-factor) * 2));
              height: 100%;
              width: 30%;
            }
          }

          .progress-percentage {
            font-size: 0.8rem;
          }
        }

        .card-image {
          margin: 0.5rem 0;

          .card-image--img {
            height: auto;
            max-width: 100%;
            border-radius: vars.$border-radius-md;
          }
        }

        .card-footer {
          margin-top: 0.33rem;
          font-size: 0.8rem;
          display: flex;
          justify-content: space-between;
          align-items: end;

          .card-members {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            justify-content: right;

            .member {
              background-color: rgba(var(--column-alpha-color-1), calc(var(--column-alpha-base-factor) * 1));
              border-radius: 100%;
              box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
              height: 2rem;
              width: 2rem;
            }
          }
        }
      }
    }

    .column-footer {
      margin-top: 0.66rem;

      .column-add-new-card {
        width: 100%;
        padding: 4px 0;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
          border-radius: vars.$border-radius-md;
        }
      }
    }

  }

}
